<footer class="bg-blue-700 text-white p-4 mt-10">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 National Computers. All rights reserved.</p>
    <div class="mt-2">
      <a href="https://wa.me/your-number" target="_blank" class="mx-2 hover:underline">WhatsApp</a>
      <a href="https://instagram.com/yourprofile" target="_blank" class="mx-2 hover:underline">Instagram</a>
      <a href="https://facebook.com/yourprofile" target="_blank" class="mx-2 hover:underline">Facebook</a>
    </div>
  </div>
</footer>